<h1>Angular tabs</h1>
<ngx-tabs>
  <ngx-tab tabTitle="People List">
    <app-people-list
      [people]="people"
      (addPerson)="onAddPerson()"
      (editPerson)="onEditPerson($event)"
    >
      ></app-people-list
    >
  </ngx-tab>
</ngx-tabs>
<ng-template let-person="data" #personEdit>
  <app-person-edit
    [person]="person"
    (savePerson)="onPersonFormSubmit($event)"
  ></app-person-edit>
</ng-template>
<!-- <ng-template #personEdit let-person="data">
  This is static template, hello from {{ person?.name }}
</ng-template> -->
